[submodule "StakEngine/External/spdlog"]
	path = StakEngine/External/spdlog
	url = https://github.com/gabime/spdlog
[submodule "StakEngine/External/glfw"]
	path = StakEngine/External/glfw
	url = https://github.com/glfw/glfw
